<html>
  <body style="font-family: Arial, sans-serif">
    <div style="margin: 0px auto; max-width: 600px">
      <div style="text-align: center; margin-bottom: 30px; margin-top: 30px">
        <img src="{{ logo_url }}" alt="Logo" style="height: 60px" />
      </div>
      {% if frequency=='nightly'%}
      <h2 style="text-align: center">Today's Hottest Deals</h2>
      {% elif frequency=='weekly'%}
      <h2 style="text-align: center">This Week's Hottest Deals</h2>
      {% elif frequency=='weekly'%}
      <h2 style="text-align: center">This Month's Hottest Deals</h2>
      {% endif %}
      <p style="text-align: center">
        Here are the hottest deals from around the hockey world for the
        categories that you're subscribed to!
      </p>
      {% for category, deals in deals_map.items() %}
      <h3 style="">{{category.title()}}</h3>
      {% for deal in deals %}
      <div
        style="
          background: white;
          border-radius: 8px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          margin: 20px auto;
          max-width: 200px;
          overflow: hidden;
        "
      >
        <img
          src="{{ deal.product.image_url }}"
          alt="{{ deal.product.name }}"
          style="width: 100%; height: auto"
        />
        <div style="padding: 15px">
          <h3 style="margin: 0 0 10px 0; color: #1a5276">
            {{ deal.product.name }}
          </h3>
          <p>
            <strong>Price:</strong>
            <span style="color: #27ae60">${{ deal.price }}</span>
            <span style="text-decoration: line-through; color: #888"
              >${{ deal.original_price }}</span
            >
            <span style="color: #e74c3c">({{ deal.discount }}% off)</span>
          </p>
        </div>
      </div>
      {% endfor %} {% endfor %}
      <p style="font-size: 0.9em; color: #888; text-align: center">
        You’re receiving this because you subscribed to {{frequency}} deal
        alerts for the following categories.
      </p>
      <ul>
        {% for category in deals_map.keys() %}
        <li>
          <p style="font-size: 0.9em; color: #888; text-align: center">
            {{category}}
          </p>
        </li>
        {% endfor %}
      </ul>
      <p style="font-size: 0.9em; color: #888; text-align: center">
        If you'd like to unsubscribe or change your alert settings just click
        here!
      </p>
    </div>
  </body>
</html>
